.main {
    font-family: Arial;
    size: 100px;
    position: fixed;
    width: 20%;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    margin-top: 0;
    left: 0;
    right: 0;
    
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.ytplr {
    position: fixed;
    width: 40%;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    margin-top: 50px;
    left: 0;
    right: 0;
}

.team {
    position: fixed;
    width: 20%;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    margin-top: 470px;
    left: 0;
    right: 0;
    font-family: Arial;
    color: grey;
}

.list {
    color: aqua;
}