@font-face {
    font-family: LemonMilk;
    src: url(reqs/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: ZeroHour;
    src: url(Reqs/zero\ hour.ttf);
}



.topnav {
    overflow: hidden;
}

.topnav a.active {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: LemonMilk;
    user-select: none;
}

.topnav a.active:hover {
    background-color: #ddd;
    color:black;
    
}

.Links a {
    color: whitesmoke;
    text-decoration: none;
}

.Links a:hover {
    color: gray
}

.discord-widget {
    text-align: right;
    float: right;
}

a.Home {
    color: #dfe5f3;
    font-family: ZeroHour;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 30px;
    border: 1px;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(rgb(46, 125, 156),rgb(46, 125, 156));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 500ms linear, opacity 500ms ;
  }
  
  a.Home:hover {
    background-size: 0 2px, 100% 2px;
    opacity: 0.7 ;
  }

  .topnav .Discordacc {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: LemonMilk;
}
   
span.Discord{
    color: black
}

span.Discord:hover{
    color: rgb(39, 39, 39);
}

span.Blizzard{
    color: black;
}

span.Blizzard:hover{
    color: rgb(39, 39, 39);
}

